<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link href="../accueil.css" rel="stylesheet">
    </head>

    <body style="background-color: #F7E5A1">

        <nav id="accueil_navbar" role="navigation" class="navbar-fixed-top"
             style="background-color: #70a6fd; width: auto">

            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">L'équipe</a></li>
                <li><a href="#">Projets</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <form>
                <input type="search" name="q" placeholder="Rechercher">
                <input type="submit" value="Lancer !">
            </form>
        </nav>

        <main>
            <test>
                <h2>En-tête d'article</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Donec a diam lectus. Set sit amet ipsum mauris.
                    Maecenas congue ligula as quam viverra nec consectetur ant hendrerit.
                    Donec et mollis dolor.
                    Praesent et diam eget libero egestas mattis sit amet vitae augue.
                    Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
                </p>
            </test>

            <aside>
                <h2>En relation</h2>
                <ul>
                    <li><a href="#">Combien j'aime être près des rivages</a></li>
                    <li><a href="#">Combien j'aime être près de la mer</a></li>
                    <li><a href="#">Bien que dans le nord de l'Angleterre</a></li>
                    <li><a href="#">Il n'arrête jamais de pleuvoir</a></li>
                    <li><a href="#">Eh bien…</a></li>
                </ul>
            </aside>
        </main>

        <div class="footer" style="background-color: #629755; width: auto; height: auto">
        </div>
    </body>
</html>