{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur notre Site !
    <meta charset="utf-8">
    <link href="../accueil.css" rel="stylesheet">
{% endblock %}

{% block contenu %}

        <nav id="accueil_navbar" role="navigation" class="navbar-fixed-top"
             style="background-color: #70a6fd; width: auto">

            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">L'équipe</a></li>
                <li><a href="#">Projets</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <form>
                <input type="search" name="q" placeholder="Rechercher">
                <input type="submit" value="Lancer !">
            </form>
        </nav>

        <main>
            <test>
                <h2>En-tête d'article</h2>
                {% include "Pokemons.html.twig" %}
            </test>

            <aside>
                <h2>En relation</h2>
                <ul>
                    <li><a href="#">Combien j'aime être près des rivages</a></li>
                    <li><a href="#">Combien j'aime être près de la mer</a></li>
                    <li><a href="#">Bien que dans le nord de l'Angleterre</a></li>
                    <li><a href="#">Il n'arrête jamais de pleuvoir</a></li>
                    <li><a href="#">Eh bien…</a></li>
                </ul>
            </aside>
        </main>

{% endblock %}