{% extends 'base.html.twig' %}

{% block title %}
    <meta charset="UTF-8">
    <title>Vente</title>
    <link href="accueil.css" rel="stylesheet" type="text/css">
{% endblock %}

{%  block contenu %}
        
            <div id="presentation">
                <h1>PokeBienvenue sur le PokeSite de la PokeVente</h1>
                <p>
                    Ici vous pouvez retrouver tout ce dont vous avez toujours rêvé étant enfant
                    parmi un large choix de Pokemon, nous avons ce que VOUS cherchez,
                    n'hésitez plus une seconde et rejoignez notre PokeAventure !
                    <br><br>
                    Encore quelques pas avant le paradis ...
                </p>

            </div>
            <div>
                {% include "/security/loginUser.html.twig" %}
            </div>

{% endblock %}


